#Edit these to match your system
GLIB_VER=1.2
OBEX_VER=0.9

#Don't edit
CC = cl -G5 -GF -Ox -W3 -MD -nologo
LDFLAGS = /link
INSTALL = copy

CFLAGS = -I.
